html, body, body > .ember-view {
  height: 100%;
}

.menu {
  position: relative;
  display: inline-block;
  margin: auto;
}

.dropdown-menu {
  margin: -2px 5px 5px 5px;
  display: block;
  pointer: default;
  transition: .2s all;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
}

.dropdown-menu.showing {
  opacity: 1;
  pointer-events: auto;
}

.pointer-events {
  display: inline-block;
}
