<div style="height: 100%; text-align: center; padding-top: 25%;">

  <div class="menu">

    <button class="btn" onclick=>Show</button>
    <div class={{concat "dropdown-menu " (if true "showing")}}>

      {{let options=(array "Yes" "No" "Meh")}}

      <h4>Is Awesome? </h4>

      {{#each options as |option|}}
        <label> {{option}}
          <input type="checkbox" onclick=>
        </label>
      {{/each}}
      <hr/>
      <button class="btn" onclick=>Close</button>
    </div>
  </div>
</div>
